*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style-type: none;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

body {
  border: 2px solid green;
}

section {
  border: 2px solid orange;
}
section .container {
  border: 2px solid black;
  overflow: hidden;
}

li label {
  overflow: hidden;
}

.crossed-out {
  text-decoration: line-through;
}

.counter-container {
  border-top: 2px solid black;
}

body {
  font-size: 1.125rem;
}

.button {
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 1px solid black;
  background: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
}

li button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 18px;
  padding-right: 0.11em;
}

section {
  display: flex;
  flex-direction: column;
  padding: 4em 1em 0em 1em;
  max-width: 550px;
  margin: 0 auto;
}
section .container {
  width: 100%;
  margin-bottom: 1.5em;
}

.todo-container {
  margin-top: 1em;
}

.counter-container {
  display: flex;
  justify-content: space-between;
}

form {
  display: flex;
  justify-content: center;
}

.result {
  margin-top: 2em;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0em 0.5em 0em;
}
li label {
  margin-left: 0.5em;
}
li .editInput {
  margin-left: 0.7em;
}
li button {
  margin-left: auto;
}

.filter-container {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.userInput {
  padding: 0.3em;
  margin-right: -4px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 1px solid black;
  width: 100%;
}

.userInput:focus {
  outline: none;
}
