@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@300;500;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto&family=Sedan+SC&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style-type: none;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.fa-solid {
  color: gray;
}

* {
  font-family: "Barlow", sans-serif;
}

input {
  font-size: 1rem;
}

li {
  font-size: 1rem;
}

.counter-container {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}

.filter-container button {
  font-size: 1.1rem;
  font-weight: 600;
}

.counter {
  font-size: 1rem;
}

.clear-completed {
  font-size: 1rem;
}

body {
  background-color: #f5f5f5;
}

section .container {
  overflow: hidden;
}

li {
  border-bottom: 1px solid black;
}
li label {
  overflow: hidden;
}

.crossed-out {
  text-decoration: line-through;
}

label {
  cursor: pointer;
}

.todo-container, .result, .counter-container, .filter-container {
  background-color: white;
}

.submitBtn {
  border: none;
  border-bottom: 1px solid black;
  background: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
}

li button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 18px;
  padding-right: 0.11em;
}

.submitBtn {
  padding: 1em;
}

.selectAll {
  padding: 1em;
}

section {
  display: flex;
  flex-direction: column;
  padding: 4em 1em 0em 1em;
  max-width: 550px;
  margin: 0 auto;
}
section .container {
  width: 100%;
  margin-bottom: 1.5em;
}

.todo-container {
  margin-top: 1em;
}

.counter-container {
  display: flex;
  justify-content: space-between;
}
.counter-container .counter {
  padding: 0.5em;
}
.counter-container .clear-completed {
  padding: 0.5em;
}

form {
  display: flex;
  justify-content: center;
}

.result {
  margin-top: 1em;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li label {
  margin-left: 0.5em;
}
li .editInput {
  margin-left: 0.7em;
  width: 60%;
  padding: 0.8em 0.5em 0.8em 0.5em;
}
li button {
  margin-left: auto;
}

.filter-container {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.counter-container {
  padding: 0.5em;
}

.filter-container {
  padding: 1em;
}

ul li {
  padding-right: 0.8em;
  padding-left: 1em;
}
ul li label {
  padding: 0.8em 0.5em 0.8em 0.5em;
}
ul li button {
  font-size: 1.3rem;
}

.userInput {
  padding: 1em;
  margin-right: -4px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 1px solid black;
  width: 100%;
}

.userInput:focus {
  outline: none;
}

input[type=checkbox] {
  height: 18px;
  width: 18px;
  accent-color: rgb(185, 32, 103);
  border: 3px solid black;
}

/*# sourceMappingURL=main.css.map */
