.submitBtn {
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.164);
  cursor: pointer;
}

button {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
}

li {
  button {
    border: none;
    outline: none;
    background-color: transparent;
  }
}

