// $background-col: #f5f5f5;
// $todo-body-col: #fff;
// $x-delete-col: gray;
// $todo-outer-border-col: #999;
// $li-bottom-border-col: #e6e6e6;
// $check-mark-col: #113f67;
// $checkbox-border-col: rgba(0, 0, 0, 0.616);


$background-col: #f5f5f5; 
// $background-col: rgba(128, 128, 128, 0.027);
$todo-body-col: #ffffff;
$x-delete-col: #303841;  
$todo-outer-border-col: #999999b0;  
$li-bottom-border-col: #d3d6db5d; 
$font-col: #111;
$check-mark-col: #3ab1c8;   
$checkbox-border-col: #3ab1c8;
$checkbox-border-col: rgba(0, 0, 0, 0.616);





