body {
    border: 2px solid green;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}

section {
    display: flex;
    // justify-content: center;
    flex-direction: column;
    padding: 4em 1em 0em 1em;
    max-width: 500px;
    
    margin: 0 auto;
}

.todo-container {
    margin-top: 1em;
}

form {
    display: flex;
    justify-content: center;
}

.result {
    margin-top: 2em;
}

li {
    button {
        margin-left: auto;
    }
}