section {
  display: flex;
  flex-direction: column;
  padding: 4em 1em 0em 1em;
  max-width: 550px;
  margin: 0 auto;

  .container {
    width: 100%;
    margin-bottom: 1.5em;

    h1 {
      margin-bottom: 0.4em;
    }
  }
}

.counter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .counter {
    padding: 0.5em;
  }

  .clear-completed {
    padding: 0.5em;
  }

  .clear-completed:hover {
    text-decoration: underline;
  }
}

form {
  display: flex;
  justify-content: center;
}

li {
  display: flex;

  align-items: center;

  label {
    margin-left: 0.5em;

    flex-grow: 1;
  }

  .editInput {
    margin-left: 0.7em;

    width: 85%;
    padding: 0.69em 0.3em 0.69em 0.3em;
    flex-grow: 1;
  }

  button {
    text-align: center;
    margin-left: 0.8em;
    padding-right: 0.11em;
  }

  input {
    min-width: 1.4em;
  }
}

.filter-container {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.counter-container {
  padding: 0.5em;
}

.filter-container {
  padding: 1em;
}

ul {
  li {
    padding-right: 1em;
    padding-left: 1em;
    label {
      padding: 0.8em 0.5em 0.8em 0.5em;
    }
  }
}

.features-info {
  margin-bottom: 5em;
}

.submitBtn {
  padding: 1em;
}

.selectAll {
  padding: 1em;
}
