@use "index" as *;

body {
  border: 2px solid green;
}

section {
  border: 2px solid orange;

  .container {
    // border: 2px solid black;
    overflow: hidden;
  }
}

li {
  // border-bottom: 1px solid black;

  label {
    overflow: hidden;
  }
}

.crossed-out {
  text-decoration: line-through;
}

.counter-container {
  // border-top: 2px solid black;
}

.filter-container {
  // border: 2px solid blue;
}

body {
  font-size: $base-font;
}

.todo-container, .result {
  border: 2px solid black;
}