@use "index" as *;

section {
  .container {
    overflow: hidden;
  }
}

li {
  label {
    overflow: hidden;
  }
}

.crossed-out {
  text-decoration: line-through;
}

label {
  cursor: pointer;
}

form {
  background-color: white;
}

.features-info {
  margin-top: 3em;
  text-align: center;
  font-size: 0.9rem;
}

.counter-container {
  .clear-completed:hover {
    text-decoration: underline;
  }
}

//COLORS
// TODO BODY COLOR
.userInput,
li,
.counter-container,
.submitBtn,
.filter-container {
  background-color: $todo-body-col;
}

//X-delete btn col;
.fa-solid {
  color: $x-delete-col;
  color: gray;
}

.fa-solid:hover {
  color: #3ab1c8;
}

// Body background
body {
  background-color: $background-col;
}

//Font color
* {
  color: $font-col;
}

// Borders
.todo-container {
  border-left: 1px solid $todo-outer-border-col;
  border-top: 1px solid $todo-outer-border-col;
  border-right: 1px solid $todo-outer-border-col;
  border-bottom: 1px solid $todo-outer-border-col;
}

li {
  border-left: 1px solid $todo-outer-border-col;
  border-right: 1px solid $todo-outer-border-col;
  border-bottom: 1px solid $li-bottom-border-col;
}

.counter-container {
  border-left: 1px solid $todo-outer-border-col;
  border-right: 1px solid $todo-outer-border-col;
  border-bottom: 1px solid $todo-outer-border-col;
}

.result {
  border-top: 1px solid $todo-outer-border-col;
}

input[type="checkbox"]:checked {
  border-color: #3ab1c8;
}

//Shadows
.container {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 18px 20px -20px;
}

.filter-container {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px -20px;
  border-left: 1px solid $todo-outer-border-col;
  border-right: 1px solid $todo-outer-border-col;
  border-bottom: 1px solid $todo-outer-border-col;
  border-top: 1px solid $todo-outer-border-col;
  border-radius: 3px;
}

.container {
  h1 {
    color: $check-mark-col;
  }
}

.userInput {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}


